<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<filter>
		<filter-name>Character Encoding Filter</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Character Encoding Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>ManagementLab</welcome-file>
		<welcome-file>Home</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Template-header</servlet-name>
		<jsp-file>/template/header.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Template-header</servlet-name>
		<url-pattern>/template/header</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Template-footer</servlet-name>
		<jsp-file>/template/footer.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Template-footer</servlet-name>
		<url-pattern>/template/footer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Template-Silebar</servlet-name>
		<jsp-file>/template/Silebar.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Template-Silebar</servlet-name>
		<url-pattern>/template/Silebar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Home</servlet-name>
		<jsp-file>/Home.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>News</servlet-name>
		<jsp-file>/News/News.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>News</servlet-name>
		<url-pattern>/News</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>News-Baiviet</servlet-name>
		<jsp-file>/News/Baiviet.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>News-Baiviet</servlet-name>
		<url-pattern>/News-Baiviet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>News-AddBaiViet</servlet-name>
		<jsp-file>/News/AddBaiViet.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>News-AddBaiViet</servlet-name>
		<url-pattern>/News-AddBaiViet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>News-EditBaiViet</servlet-name>
		<jsp-file>/News/EditBaiViet.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>News-EditBaiViet</servlet-name>
		<url-pattern>/News-EditBaiViet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Research-index</servlet-name>
		<jsp-file>/Research/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Research-index</servlet-name>
		<url-pattern>/Research</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>5G</servlet-name>
		<jsp-file>/Research/5G.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>5G</servlet-name>
		<url-pattern>/Research-5G</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Internet of Things</servlet-name>
		<jsp-file>/Research/Internet-of-Things.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Internet of Things</servlet-name>
		<url-pattern>/Research-Internet-of-Things</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NFV</servlet-name>
		<jsp-file>/Research/Network-Function-Virtualization.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>NFV</servlet-name>
		<url-pattern>/Research-Network-Function-Virtualization</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Quality of Expreriences</servlet-name>
		<jsp-file>/Research/Quality-of-Expreriences.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Quality of Expreriences</servlet-name>
		<url-pattern>/Research-Quality-of-Expreriences</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Security</servlet-name>
		<jsp-file>/Research/Security.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Security</servlet-name>
		<url-pattern>/Research-Security</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>Current Students</servlet-name>
		<jsp-file>/Members/Current-Students.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Current Students</servlet-name>
		<url-pattern>/Members-Current-Students</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Old Students</servlet-name>
		<jsp-file>/Members/Old-Students.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Old Students</servlet-name>
		<url-pattern>/Members-Old-Students</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Researchers</servlet-name>
		<jsp-file>/Members/Researchers.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Researchers</servlet-name>
		<url-pattern>/Members-Researchers</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Projects-Projects</servlet-name>
		<jsp-file>/Projects/Projects.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Projects-Projects</servlet-name>
		<url-pattern>/Projects-Projects</url-pattern>
	</servlet-mapping>
	<servlet>
	
		<servlet-name>Projects-CreateProject</servlet-name>
		<jsp-file>/Projects/CreateDuAn.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Projects-CreateProject</servlet-name>
		<url-pattern>/Projects-CreateDuAn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Projects-Project_Detail</servlet-name>
		<jsp-file>/Projects/Project_Detail.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Projects-Project_Detail</servlet-name>
		<url-pattern>/Projects-Project_Detail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Projects-EditProject</servlet-name>
		<jsp-file>/Projects/EditProject.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Projects-EditProject</servlet-name>
		<url-pattern>/Projects-EditProject</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ManagementLogin-Login</servlet-name>
		<jsp-file>/ManagementLogin/login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagementLogin-Login</servlet-name>
		<url-pattern>/ManagementLogin-login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManagementLogin-Logout</servlet-name>
		<jsp-file>/ManagementLogin/logout.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagementLogin-Logout</servlet-name>
		<url-pattern>/ManagementLogin-logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccountManager-Profile</servlet-name>
		<jsp-file>/AccountManager/Profile.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountManager-Profile</servlet-name>
		<url-pattern>/AccountManager-Profile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccountManager-AccountManager</servlet-name>
		<jsp-file>/AccountManager/AccountManager.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountManager-AccountManager</servlet-name>
		<url-pattern>/AccountManager-AccountManager</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccountManager-EditProfile</servlet-name>
		<jsp-file>/AccountManager/EditProfile.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountManager-EditProfile</servlet-name>
		<url-pattern>/AccountManager-EditProfile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccountManager-ChangePassword</servlet-name>
		<jsp-file>/AccountManager/ChangePassword.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountManager-ChangePassword</servlet-name>
		<url-pattern>/AccountManager-ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccountManager-CreateAccount</servlet-name>
		<jsp-file>/AccountManager/CreateAccount.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountManager-CreateAccount</servlet-name>
		<url-pattern>/AccountManager-CreateAccount</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccountManager-DeleteAccount</servlet-name>
		<jsp-file>/AccountManager/DeleteAccount.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountManager-DeleteAccount</servlet-name>
		<url-pattern>/AccountManager-DeleteAccount</url-pattern>
	</servlet-mapping>


	<!-- Start Servlet -->
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddNewPost</servlet-name>
		<servlet-class>controller.AddNewPost</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddNewPost</servlet-name>
		<url-pattern>/AddNewPost</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HandleProject</servlet-name>
		<servlet-class>controller.HandleProject</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HandleProject</servlet-name>
		<url-pattern>/HandleProject</url-pattern>
	</servlet-mapping>
	<!-- End Servlet -->
</web-app>